.anime {
    transition-delay: .5s;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}
   
.slide-in {
    opacity: 0;
    transform: translateX(100px);
}
   
.slide-in.anime-active {
    opacity: 1;
    transform: translateX(0px);
}

.grow-fade-in {
    transform: scale(0);
    opacity: 0;
}

.grow-fade-in.anime-active {
    transform: scale(1);
    opacity: 1;
}



