html, body, #app {
    padding: 0px;
    margin: 0px;
    width: 100%;
}


h1 {
    font-family: 'AllowInk';
    font-size: 5em;
}

section {
    height: 50em;
    width: 100%;
}

section, div {
    float: left;
}

.center {
    margin: auto;
}

.text-center {
    text-align: center;
}

.bg-yellow {
    background-color: #fcf592;
}

.bg-black {
    color: #226688;
    background-color: #323232;
}

.w-50 {
    width: 50%;
}

.vue {
    color: #04c289;
}

.scroll {
    color: #882244;
}

.blue {
    color: #1d85b9;
}

.circle {
    width: 150px;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 120px;
    color: #fff;
    font-size: 1.2em;
    background-color: #882244;
}

.circle-green {
    background-color: #04c289;
}

.circle-blue {
    background-color: #1d85b9;
}

.footer {
    min-height: 30em;
    width: 100%;
    color: #fff;
    background-color: #585857;
}

.footer ul {
    direction: none;
    list-style: none;
}

.footer li {
    padding-top: 20px;
    padding-top: 20px;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer a img {
    width: 100px;
}

@font-face {
    src: url('./fonts/AlloyInk-nRLyO.ttf');
    font-family: 'AllowInk';
}

@media screen and (max-width: 992px) {
    .hero {
        display: none;
    }
    .w-50 {
        width: 100%;
    }
}