<template>
  <section>
      <div class="w-50 hero" >
        <img src="well_done.svg" />
      </div>
      <div class="w-50 text-center">
        <h1>
          <span class="vue">Vue</span> <span class="scroll">Scroll</span> <span class="blue" >Anime</span>
        </h1>
        <center>
          <p class="circle circle-red">scroll animation for vue</p>
        </center>
      </div>
  </section>
  <section class="text-center">
       <h1>Slide in right</h1>
       <center>
        <p class="circle circle-green" v-scroll-anime="'slide-in'">This is a demo site</p>
       </center>
  </section>
  <section class="text-center">
       <h1>Grow, Fade in</h1>
       <center>
        <p class="circle" v-scroll-anime="'grow-fade-in'">This is a demo site</p>
       </center>
  </section>
  <section class="text-center">
       <h1>Repeat</h1>
       <center>
        <p class="circle circle-blue" v-scroll-anime.repeat="'grow-fade-in'">This is a demo site</p>
       </center>
  </section>
  <div class="footer bg-black">
    <div>
      <ul>
        <li>
          <a href="https://www.npmjs.com/package/@goodly/vue-scroll-anime" target="blank">
            <img src="/Npm.png" />
          </a>
        </li>
        <li>
          <a href="https://gitlab.com/kamohelosemonyo/vue-scroll-anime#readme" target="blank">
            <img src="/git-logo.png" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>

export default {
  name: 'App',
  components: {}
}
</script>
